
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}


.bodycontainer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.form-container {
    background-color: #ffffff;
    padding: 25px 30px;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
    margin: auto;
}


form h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #333;
    font-size: 18px;
}


.form-group {
    margin-bottom: 14px;
}


label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #444;
}


input,
textarea {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fafafa;
}


textarea {
    height: 70px;
    resize: none;
}


button {
    width: 100%;
    padding: 9px;
    background-color: #5c6bc0;   
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #3f51b5;
}

.tablecontainer {
    margin: 40px auto;
    width: 80%;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 100px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
tr{

    height: 100px;
}
#btn-red{
    text-decoration: none;
    border: 2px solid black;
    border-radius: 12px;
    padding: 12px 25px;
    color:white;
    background-color: red;
    margin :15px;
}
#btn-green{
    text-decoration: none;
    border: 2px solid black;
    border-radius: 12px;
    padding: 12px 25px;
    color:white;
    background-color: green;
    margin :15px;
}

.flex{
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
}

.search-box{
    margin: 20px 80px;
    padding: 20px;

}
button{
margin: 25px;
width: 80%;
}









/* 
.messagebox{
    nahi pata h merko
} */